{% extends 'base.html' %}
{% block title %}  User {%endblock%}
{% block content %}
        <div class="row p-5 " id="login_screen">
          <div class=" offset-4 col-4" >
             <div class="card" >
                  <div class="card-body" >
                    <form action="" id="validate_user">
                      <div class="form-group">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                      </div>
                      <div class="form-group text-center">
                        <button  type="submit" placeholder="Password" class="btn btn-success">Validate User</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
          </div>
          <div class="row p-5" id="main_screen"> 
            <div class="col-sm col-md-5">
                <div class="card">
                    <div class="card-body" >
                      <img src="{{ url_for('video_stream') }}" width="100%">
                    </div>
                    <div class="col">
                      <button class="btn btn-success">Detect Face</button>
                    
                  </div>
                </div>
               
               
            </div>
            <div class="col-sm col-md-7">
              <div class="row">
                <div class="col">
                  <h2>User List</h2>
                </div>
                <div class="col"></div>
                <a class="btn btn-success mx-2" href="{{ url_for('create')}}">Create New User</a>
                <a class="btn btn-danger mx-2" href="{{ url_for('delete')}}">Delete All</a>
                </div>
              
                <table class="table mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody>
                
                        {% for user in users%}
                        <tr>
                          <td scope="col">{{user["id"]}}</td>
                          <td scope="col">{{user["name"]}}</td>
                          <td scope="col">{{user["age"]}}</td>
                          <td scope="col">{{user["email"]}}</td>
                          <td scope="col">
                           <img height="50px" width="50px" src="{{url_for("static", filename= user["image"])}}" alt="{{user["id"]}}"> 
                          </td>
                        </tr>
                        {% endfor %}
                    
                   
                    </tbody>
                  </table>
            </div>
        </div>
        
    
{% endblock %}
{% block script %} 
    <script>
      // $("#main_screen").hide();
      // $(document).ready(function(){
      //   $("#main_screen").hide();
      // })

      function isEmpty(value){
        if(value == null || value == undefined || value == ""){
          return true
        }
        return false
      }

      function displayErrorMessageAndBorder(selector){

      }
      
      $("#validate_user").submit((event)=>{
        event.preventDefault()
        let userName = $("input[name=username]").val();
        let password = $("input[name=password]").val();
        if(isEmpty(userName)){
          $("input[name=username]").css("border","1px solid red")
          setTimeout(() => {
            $("input[name=username]").css("border","1px solid lightgray")                                    
          }, 3000);
        }

        if(isEmpty(password)){
          $("input[name=password]").css("border","1px solid red")
          setTimeout(() => {
            $("input[name=password]").css("border","1px solid lightgray")                                    
          }, 3000);
        }


        if(userName != "laxman"){
          alert("Not a valid user name")
          return
        }else{
          if(password == "laxman"){
            alert("Authenticated !!!!")
            $("#main_screen").show()
            $("#login_screen").hide()
          }
        }
      })

    </script>        
 {% endblock %}